.delete-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  padding: 20px;
}

.delete-title {
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: #d6132c;
  user-select: none;
}

.delete-disclaimer {
  width: 100%;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  user-select: none;
}

.delete-button {
  width: 30%;
  min-width: 200px;
  padding: 10px;
  font-size: 20px;
  background-color: #d6132c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  user-select: none;
}

.delete-button:hover {
  background-color: #eb0202;
  transition: 0.5s;
}

@media (max-width: 750px) {
  .delete-main {
    padding: 10px;
  }

  .delete-title {
    font-size: 20px;
  }

  .delete-disclaimer,
  .delete-button {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .delete-button {
    min-width: 140px;
  }
}
