.home-main {
  margin-left: 205px;
}

.home-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  color: #d61c32;
  width: 100%;
  font-weight: 300;
}

.home-form {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.name-input,
.adress-input {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #000;
}

.name-input-label,
.adress-input-label {
  font-size: 20px;
  color: #d61c32;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  margin: 10px;
}

.form-button {
  width: 40%;
  min-height: 50px;
  max-height: 50px;
  padding: 10px;
  font-size: 20px;
  background-color: #15142a;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}

.form-button:hover {
  background-color: #333245;
}

/* .hidden-cart {
  display: none;
} */

/* .show-cart {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 50vw;
  right: 100px;
  background-color: black;
  color: white;
} */
/* .cart-button {
  width: 50px;
  height: 50px;
  background-color: #333245;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
} */

@media (max-width: 760px) {
  .home-main {
    margin-left: 155px;
  }
}
