.main-list {
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.client-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 5px;
  box-sizing: border-box;
  list-style: none;
  box-shadow: 2px 2px 5px #ddd;
  border-radius: 10px;
}

.client-info-name,
.client-info-adress,
.client-info-orders-total,
.client-info-div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 10px;
}

.client-info-remove-button {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  cursor: pointer;
  background-color: #d61c32;
  color: #fff;
  border: none;
  transition: 0.5s;
  font-weight: 400;
}

.client-info-remove-button:hover {
  background-color: #eb0202;
}

.clients-list-empty {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  font-size: 25px;
  font-weight: 400;
}

@media (max-width: 1050px) {
  .clients-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .clients-list {
    grid-template-columns: 1fr;
  }
  .client-info-remove-button {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .main-list {
    padding: 5px;
  }

  .client-info {
    padding: 5px;
  }

  .client-info-name,
  .client-info-adress,
  .client-info-orders-total,
  .client-info-remove-button {
    text-align: center;
    font-size: 16px;
  }
}
