.delete-main {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.delete-title {
  color: #d6132c;
  user-select: none;
  font-weight: 400;
}

.delete-disclaimer {
  margin: 20px 0px;
  font-size: 20px;
  user-select: none;
  font-weight: 300;
}

.delete-button {
  width: 20%;
  min-width: 135px;
  padding: 10px;
  font-size: 20px;
  background-color: #d6132c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-weight: 300;
}

.delete-button:hover {
  background-color: #eb0202;
  transition: 0.5s;
}


