.navbar {
  display: inline-block;
  background-color: #d61c32;
  width: 200px;
  min-height: 100%;
  position: fixed;
}

.item-menu,
.active {
  margin-top: 25px;
  list-style: none;
  padding: 15px;
  text-align: center;
}

.item-menu a,
.active a {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.active {
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}

.active a {
  color: #d61c32;
}

@media (max-width: 760px) {
  .navbar {
    width: 150px;
  }
}
