#main_home {
	margin-left: 205px;
	padding: 20px;
	box-sizing: border-box;
}

#main_home h1 {
	margin-bottom: 20px;
	text-align: center;
	color: #d61c32;
}

#form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

#input_name,
#input_adress {
	width: 80%;
	font-size: 20px;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #000;
}

#input_quantity {
	width: 15%;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #000;
}

#select_items {
	font-size: 18px;
	padding: 10px;
	width: 17%;
	cursor: pointer;
}

#button_form {
	width: 30%;
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
	background-color: #15142a;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	transition: 0.5s;
}

#button_form:hover {

	background-color: #333245;

}

@media (max-width: 760px) {
	#main_home {
		margin-left: 155px;
	}

	#select_items {
		width: 80%;
	}

	#button_form {
		width: 70%;
	}
}
