#navbar {
	display: inline-block;
	background-color: #d61c32;
	min-width: 200px;
	min-height: 100vh;
	position: absolute;
}

.item_menu {
	margin-top: 25px;
	list-style: none;
	padding: 20px;
	text-align: center;
}

.item_menu a {
	color: #fff;
	font-size: 25px;
}

.active {
	background-color: #fff;
}

.active a {
	color: #d61c32;
}
